<html>
    <head>
        <title>HexGame</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>





    <div id="coords" ></div>


<script src="js/jquery.js"></script>
        <script src="js/three.js"></script>

        <script src="tmp/client.js"></script>
    </body>
</html>
